[Unit]
Description=Proton WireGuard
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=-/etc/proton/proton-common.env
ExecStart=/usr/local/bin/proton/proton-wg-up-safe.sh
ExecStop=/usr/local/bin/proton/proton-wg-down-safe.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target