[Unit]
Description=Proton WireGuard VPN
After=network-online.target proton-killswitch.service
Wants=network-online.target
Requires=proton-killswitch.service
 
[Service]
Type=oneshot
EnvironmentFile=-/etc/proton/proton-common.env
ExecStart=/usr/local/bin/proton/proton-wg-up-safe.sh
ExecStop=/usr/local/bin/proton/proton-wg-down-safe.sh
RemainAfterExit=yes
NoNewPrivileges=yes
ProtectHome=yes
 
[Install]
WantedBy=multi-user.target
 