[Unit]
Description=Proton Port Forwarding
After=proton-wg.service
Requires=proton-wg.service

[Service]
ExecStart=/usr/local/bin/proton/proton-port-forward.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target