[Unit]
Description=Proton Kill Switch
Before=proton-wg.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/proton/proton-killswitch.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target